# Node modules
node_modules/

# Log files
*.log

# Build directories
build/
dist/

# Environment variables
.env

# VS Code settings
.vscode/

# Python virtual environment
venv/
backend/venv/

# Python cache files
__pycache__/
backend/__pycache__
*.pyc
*.pyo
