.donate-page {
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.donate-content {
  display: flex;
  flex-direction: row;
  height: 535px;
  background-color: #f9f9f9;
  border: 3.5px solid #004a77;
  padding: 30px 30px 20px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 1500px;
}


.donate-info {
  width: 50%;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donate-info h1 {
  font-size: 32px;
  color: #005a9c;
  margin-bottom: 10px;
}

.donate-info p,
.why-donate p {
  font-size: 15px;
  color: #333;
}

.why-donate h2 {
  font-size: 24px;
  color: #005a9c;
  margin-top: 30px;
  margin-bottom: 10px;
}

.why-donate ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}

.why-donate li {
  margin-bottom: 8px;
}

.donate-card {
  width: 50%; 
  background-color: #ffffff;
  padding: 30px;
  border: 3.5px solid #004a77;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.donate-card h2 {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.donate-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.donate-options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  margin-bottom: 20px;
}


.donate-option:hover {
  background-color: #0056b3;
}

.donate-option{
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #0078d7, #005a8a);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-donate {
  position: relative;
  margin-bottom: 20px;
}

.custom-donate input {
  width: 100%;
  padding: 12px;
  padding-right: 30px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.currency {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.donate-button {
  background-color: #28a745;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.donate-button:hover {
  background-color: #1e7e34;
}

.secure-message {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
